/* Regola di reset */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Proprietà di header */ 
.barra-titolo{
    background-color: #FFFFFF ;
}
/* Regola per centrare verticalmente */
.logo{
    vertical-align: middle;
    margin-right: 15px;
    height: 54px;
}
.toboolist{
    display: inline-block;
}

/* Proprietà main-square */
main{
    background-color: #f5f8f9;
    padding: 50px;
}
 .container-square{ 
    background-color: #FFFFFF;
    width: 700px;
    height: 700px;
    margin: 0 auto;
    max-width: 700px;
    border-radius: 5px;
 }

/* Proprietà Nav */
.add{
    margin-top: 15px;
}
.task{
    background-color: #48adf1;
    color: white;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    margin-left: 25px;
}
.section{
    background-color: white;
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
}

/* Proprietà sezioni */
.titolo-sezione{
    display: inline-block;
}
.sezione{
    margin-left: 35px;
    margin-top: 40px;
}

/* reset list item e proprietà*/
ol li{
    list-style: none;
    margin-top: 10px;
 }

/* sezioni in dettaglio */
.cerchio{
    font-size: x-small;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.editorial{
    background-color: #45abea;
}
.goals{
    background-color: #9c72e4;
}
.recruiting{
    background-color: #63c0a9;
}
.mobile{
    background-color: #f29e33;
}
.website{
    background-color: #d763a1;
}
.sales{
    background-color: #b0c925;
}

.check{
    border: 1px solid lightgreen;
    color: lightgreen;
    font-size: 13px;
    border-radius: 100px;
}
.cross{
    border: 1px solid red;
    color: red;
    font-size: 13px;
    border-radius: 100px;
}